Repository jordanbtucker/web-init: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier -c

.lintstagedrc.json:

{
  "**/*.js": "eslint",
  "**/*.{babelrc,css,html,js,json,md,scss}": "prettier -c"
}

build: update dependencies
  package-lock.json
  package.json
Due: prettier -c

fix: avoid sub-apps
  lib/server/api.js
  lib/server/app.js
  package.json
  test/server/api.js
  test/server/app.js
Due: eslint, prettier -c

build: update .gitignore
  .gitignore
Due: none

build: migrate vscode eslint-on-save setting
  .vscode/settings.json
Due: prettier -c

build: update dependencies
  package.json
Due: prettier -c

build!: require Node.js v12 or later
  package.json
Due: prettier -c

build: update dependencies
  .prettierrc.json
  package-lock.json
  package.json
Due: prettier -c

ci: add Node.js v13, v14, drop v8, v11
  .travis.yml
Due: none

build: wrap prose with Prettier
  .prettierrc.json
  CHANGELOG.md
Due: prettier -c

build: use caret range for engines.node
  package.json
Due: prettier -c

fix: use correct API for sinon
  lib/app.js
  test/app.js
Due: eslint, prettier -c

build: use POSIX style paths
  .vscode/launch.json
Due: prettier -c

docs: update year in LICENSE
  LICENSE
Due: none

build: use root relative ignore paths
  .eslintignore
  .prettierignore
Due: none

style: update style
  test/server/api.js
  test/server/app.js
Due: eslint, prettier -c

feat: use async function in index
  lib/server/index.js
  package.json
Due: eslint, prettier -c
